[submodule "third-party/pybind11"]
	path = third-party/pybind11
	url = git@github.com:pybind/pybind11.git
[submodule "third-party/imgui"]
	path = third-party/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "third-party/glfw"]
	path = third-party/glfw
	url = git@github.com:glfw/glfw.git
[submodule "third-party/implot"]
	path = third-party/implot
	url = git@github.com:epezent/implot.git
