include CMakeLists.txt
include pybind11_stubgen.py
recursive-include cmake *
recursive-include source *
recursive-include third-party *
prune test

prune third-party/pybind11/.github
prune third-party/pybind11/docs
prune third-party/pybind11/tests
prune third-party/imgui/examples